.jqconsole {
  padding: 10px;
  padding-bottom: 10px;
}
.jqconsole-cursor {
  background-color: #999;
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}
.jqconsole-prompt {
  color: #9a022f;

}
.jqconsole-old-prompt {
  color: #ffaa00;
  font-weight: normal;
}
.jqconsole-input {
  color: #dd0;
}
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}
.brace {
  color: #00FFFF;
}
.paren {
  color: #FF00FF;
}
.bracket {
  color: #FFFF00;
}
.jq-console-text {
    color: black;
}
.jqconsole-composition {
  background-color: red;
}
.jqconsole-error, .jqconsole-stderr {
    color:red;
}
.jqconsole-system {
    color:gray;
}
.jqconsole-result {
    color:hsl(310, 86%, 36%);
}

#console {
    top:0px;
    left:0px;
    position:absolute;
    width:100%;
    height:100%;
}
